body {
    font: 18px Arial;
    color: RGB(250,200,19);
    text-align: center;
    background: url(images/fon.jpg) no-repeat 60% 60%;
}
.ps {
    font: 13px Arial;
}
table {
    border: 5px outset RGB(251,185,225);
    table-layout: auto;
    border-collapse: collapse;
    background-color: RGB(5,10,78);
    cellpadding="7";
}
td {
    text-align: center;
    padding: 5px;
    border: 3px solid blue;
 }

 td {
    padding: 5px;
    border: 1px solid blue;
 }

/* Стиль для ссылки в виде кнопки */
 a {
     font: 16px Arial;
     display: inline-block;
     background: RGB(5,10,78);
     color: RGB(250,200,19);
     padding: 1rem 1.5rem;
     text-decoration: none;
     border-radius: 3px;
    }

    /* Стиль кнопки при наведении на него курсора */
    .btn:hover {
    background: RGB(250,200,19);
    }

/* Стиль для заголовка таблицы */
 .caption {
    font: 24px Arial;
    font-weight: bold;
    color: RGB(250,200,19);
 }



