<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <title>Show all actors</title>
      <link th:href="@{/style/style.css}" rel="stylesheet"/>
  </head>
  <body>
    <table align="center">
        <caption class = "caption">-- A c t o r s --</caption>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Date Of Birth</th>
            <th>Sex</th>
            <th>Country</th>
            <th>is Delete</th>
            <th>is Update</th>
        </tr>
        <tr th:each="actr : ${actors}">
            <td th:text="${actr.id}"></td>
            <td th:text="${actr.name}"></td>
            <td th:text="${actr.lastName}"></td>
            <td th:text="${actr.dateOfBirth}"></td>
            <td th:text="${actr.sex}"></td>
            <td th:text="${actr.country}"></td>
            <td>
                <form  th:action = "@{/deleteActor}" method="POST"> <!-- th:object="${actr}"-->
                    <input type="hidden" name="id" th:value="${actr.id}">
                    <button class="btn">Delete</button>
                </form>
            </td>
            <td>
                <form  th:action = "@{/forUpdateActor}" method="POST" th:object="${actr}">
                    <input type="hidden" name="id" th:value="${actr.id}">
                    <button class="btn">Update</button>
                </form>
            </td>
        </tr>
    </table>

    <p><a href="http://localhost:8080">--Go to Home--</a></p>

  </body>
</html>