<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Update Actor</title>
        <link th:href="@{/style/style.css}" rel="stylesheet"/>
    </head>
    <body>
        <table align="center">
            <caption class = "caption">-- Actor card --</caption>
            <tr><td>
                <p>
                    <form method="POST" th:object="${actor}" th:action="@{/updateActor}">

                        <label for="id">ID Actor</label> &nbsp &nbsp &nbsp &nbsp &nbsp
                        <input type="number" th:field="*{id}" readonly id = "id"/><br><br><hr>

                        <label for="name">Name* </label> &nbsp &nbsp &nbsp &nbsp &nbsp
                        <input type="text" th:field="*{name}" id = "name"
                               pattern="^[a-zA-Z]+$" required/><br><br><hr>

                        <label for="lastName">Last Name* </label> &nbsp
                        <input type="text" th:field="*{lastName}" id = "lastName"
                               pattern="^[a-zA-Z]+$" required/><br><br><hr>

                        <label for="dateOfBirth">Date Of Birth* </label>
                        <input type="text" th:field="*{dateOfBirth}" id = "dateOfBirth"
                            pattern="[1-2]{1}[0-9]{3}-[0-9]{2}-[0-9]{2}" required/>
                        <p class="ps">  Date of birth in the format  YYYY-MM-DD  </p><hr>

                        Sex:<br><br>
                        <input type="radio" th:field="*{sex}"  name = "sex" value="F" /> Female &nbsp &nbsp &nbsp &nbsp
                        <input type="radio" th:field="*{sex}" name = "sex" value="M"/> Male<br><hr>

                        <label for="country">Country* </label> &nbsp &nbsp &nbsp &nbsp
                        <input type="text" th:field="*{country}" id = "country"
                               pattern="^[a-zA-Z]+$" required/><br><br><hr><br>

                        <button class="btn">   OK   </button>
                    </form>
                </p>
            </td></tr>
        </table>
    </body>
</html>