<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <title>Search results </title>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
  </head>
  <body>
    <table align="center">
      <caption class = "caption">-- Resault List  --</caption>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Date Of Birth</th>
        <th>Sex</th>
        <th>Country</th>
       </tr>
      <tr th:each="actr : ${actor}">
        <td th:text="${actr.id}"></td>
        <td th:text="${actr.name}"></td>
        <td th:text="${actr.lastName}"></td>
        <td th:text="${actr.dateOfBirth}"></td>
        <td th:text="${actr.sex}"></td>
        <td th:text="${actr.country}"></td>
       </tr>
      </table>

    <p><a href="http://localhost:8080">--Go to Home--</a></p>
  </body>
</html>