<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <title>Search for actors by country</title>
      <link th:href="@{/style/style.css}" rel="stylesheet"/>
  </head>
  <body>
    <table align="center">
      <tr><td>-- Search engine --</td></tr>
      <tr><td>
        <p><hr>
          <form action="/seekByCountry" method="POST">
            <label for="country">Country*  </label>
            <input type="text" id="country" name="country"
                   pattern="^[a-zA-Z]+$" required><br><br><hr>
            <button class="btn">   OK   </button>
          </form>
        </p>
      </td></tr>
    </table>
  </body>
</html>