<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <title>Find an actor by id</title>
      <link th:href="@{/style/style.css}" rel="stylesheet"/>
  </head>
  <body>
      <table align="center">
          <tr><td>-- Search engine --</td></tr>
          <tr><td>
               <p><hr>
                   <form action="/seekByID" method="post">
                        <label for="IDActor">ID Actor</label>
                        <input type="number" id="IDActor" name="id"><br><br><hr>
                        <button class="btn">   OK   </button>
                    </form>
                </p>
          </td></tr>
      </table>
  </body>
</html>